<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>RootCase - Store</title>
</head>
<body class="bg-primary text-white">
    <!--Nav bar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
      <div class="container">
        <a href="index.html" class="navbar-brand">
          <h3 class="d-inline align-middle">RootCase</h3>
        </a>
      </div>
    </nav>
    
    <div class="container">
          {{{ body }}}
    </div>

</body>
</html>