<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>RootCase - Store</title>
</head>
<body class="bg-primary text-white">
    <!--Nav bar
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
      <div class="container">
        <a href="index.html" class="navbar-brand">
          <h3 class="d-inline align-middle">RootCase</h3>
        </a>
      </div>
    </nav>
    -->
        <!--Nav bar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-inverse">
        <a class="navbar-brand" href="/website/index.php">
            <img id="logo" src="/img/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/website/index.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/website/feature/feature.html">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/website/contact/contact.php">Contact</a>
            </li> 
          </ul>
       
        </div>
    </nav>
    
    <div class="container">
          {{{ body }}}
    </div>

</body>
</html>