<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="shortcut icon" href="/img/icon.png" type="image/png" />

    <!-- Add icon library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!--reCaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=reCaptchaCallback&render=explicit"></script>

    <!-- Facebook Pixel Code -->
    <script>
      !(function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "497944787400192");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=497944787400192&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <title><%= title %></title>
  </head>
  <body>
    <!--Nav bar-->
    <% include templates/header.ejs %>
    <script>
      fbq("track", "Contact");
    </script>

    <!--Landing page-->
    <div class="jumbotron-fluid fade bg-light">
      <div class="h-100 row justify-content-center">
        <div class="col-md-6 text-center">
          <h2 class="display-3 mt-3 pt-5">
            <span id="header-animation"></span>
          </h2>
          <p class="lead">
            If you have any questions at all about Rootcase, do not hesitate to
            contact us through the button below! A member of our team will get
            in touch with you in under 24 hours.
          </p>
        </div>
      </div>
    </div>
    <hr width="50%" class="hideElement" />

    <!--Contact Form-->
    <div class="container">
      <h1 class="text-center">Get in touch!</h1>

      <!--Incomplete form-->
      <div id="error_message"></div>

      <!--Form-->
      <form method="POST" action="send">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            required
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Subject</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            name="subject"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="5"
            placeholder="Enter your response here."
            required
          ></textarea>
        </div>

        <form id="contact-form" action="?" method="POST">
          <div class="g-recaptcha" data-sitekey="<%= captchaClient %>"></div>
          <br />
          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
        <!--
            <button type="submit" class="btn btn-primary">Submit</button>
            -->
      </form>
    </div>
    <hr width="50%" />

    <% include templates/footer.ejs %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    <!-- Load Typed.js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <!--JS-->
    <script>
      $(document).ready(function() {
        $("#contact-form").submit(function() {
          $(this).ajaxSubmit({
            error: function(xhr) {
              status("Error: " + xhr.status);
            },
            success: function(response) {
              console.log(response);
            }
          });
          return false;
        });
      });
    </script>

    <script src="/js/contact.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
