<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="shortcut icon" href="/img/icon.png" type="image/png">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title><%= title %></title>
</head>
<body>
    <!--Nav bar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-inverse" style="background-color: #d4e2f9;">
        <a class="navbar-brand" href="/">
            <img src="/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            RootCase
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class='nav-item'>
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li> 
          </ul>   
        </div>
    </nav>
    
    <div class="container one-pager" style="padding-top:100px;">
        <section class="py-5">
            <h1 class="display-3">
              Sorry, we failed to send the email.
            </h1>
            <p class="lead">We value customer satisfaction. Please try again later.</p>
            <a href="/contact" class="btn btn-dark btn-md">Submit again</a>
        </section>
    </div>

    <div id="footer one-page" class="text-center bg-light">
      <p class="footText">
          <h5><b>RootCase</b></h5>
          Junior Achievement CIBC
          <br>101 College Street, Toronto, ON, M5G 1L7
      </p>

      <div class="d-flex justify-content-between">
          <div class="p-1"></div>
          <div class="p-1">
              <a href="https://www.instagram.com/root.case/" class="center-block fa fa-instagram"></a>
              <a href="/contact" class="center-block fa fa-rss"></a>
              <a href="https://www.gofundme.com/root-case?member=1587060" class="center-block fa fa-google"></a>
          </div>
          <div class="p-1"></div>
      </div>
      <div class="container no-css">
          <div class="row">
              <div class="col"></div>
              <div class="col">
                  <a href="/terms" class="center-block no-dec"><p>Terms and Conditions</p></a>
              </div>
              <div class="col">
                  <a href="/policy" class="center-block no-dec"><p>Policy and Returns</p></a>
              </div>
              <div class="col"></div>
          </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>