<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                iPhone 7/8 BioCase
            </h1>
            <p class="lead">A case that doesn't pollute our space!</p>

            <form action="/charge" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ stripePublishableKey }}"
                    data-amount="1999"
                    data-name="iPhone 7/8 BioCase"
                    data-description="A biodegradeable phone case"
                    data-image="/img/marketplace.png"
                    data-locale="auto"
                    data-currency="cad">
                </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase For $19.99 CAD</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/product.png" alt="" class="img-fluid">
        </div>
    </div>
</section>

<!--braeden and rafee ~ assign work-->