<!--Nav bar-->
<% include templates/header.ejs %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">
      Introducing a phone case that doesn't pollute our space.
    </h1>
  </div>
</div>

<div class="uk-padding-small"></div>

<div class="uk-container">
  <div class="uk-animation-toggle" tabindex="0"></div>

  <div class="uk-child-width-1-2@m" uk-grid>
    <div
      class="uk-card uk-card-default uk-card-body"
      uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
    >
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="/img/biocase.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-animation-toggle" tabindex="0"></div>

      <div
        class="uk-card uk-card-default uk-card-body"
        uk-scrollspy="cls: uk-animation-slide-right; repeat: true"
      >
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Bottom</h3>
            <p>
              Rootcase is a beautifully designed and eco-friendly alternative to
              traditional plastic phone cases. Unlike normal plastic phone
              cases, Rootcase is 100% biodegradable, meaning it will have no
              negative effect on the environment when it’s being disposed. By
              buying Rootcase, you’re doing your part to secure a plastic-free
              future for our planet. The soft and easy to grip texture of
              Rootcase offers a secure and comfortable feel in your hand. Due to
              the natural shock-absorbing properties of wheat fibre, Rootcase
              also offers great protection from drops and scratches. Order today
              and get free shipping on all orders.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="animation: scale; autoplay: true; finite: true; autoplay-interval: 2000"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img src="/img/tradeshow.jpg" alt="" uk-cover />
      </li>
      <li>
        <img src="/img/tradeshow3.jpg" alt="" uk-cover />
      </li>
      <li>
        <img src="/img/tradeshow2.jpg" alt="" uk-cover />
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </div>
</div>

<!--Contact
        <hr width="75%">
        <div id="contact" class="text-center hideElement">
            <div class="d-flex justify-content-between">
                <div class="p-1"></div>
                <div class="p-1">
                    <h1>Got questions?</h1>
                    <p class="lead">
                        If you’ve got any questions about Rootcase feel free to send us a 
                        message through the contact button below. A member of our team will 
                        respond to you in under 24 hours.
                    </p>
                    <a href="/contact">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Contact Us</button>
                    </a>
                </div>
                <div class="p-1"></div>
            </div>
        </div>
    -->

<% include templates/footer.ejs %>
