<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <!-- UIkit CSS -->
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css"
    />

    <!--Bootstrap-->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/template.css" />
    <link rel="shortcut icon" href="/img/icon.png" type="image/png" />



  <script>
      !(function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        'script',
        'https://connect.facebook.net/en_US/fbevents.js'
      );
      fbq('init', '497944787400192');
      fbq('track', 'PageView');
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=497944787400192&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <script>
        fbq('track', 'ViewContent', {
          value: 19.99,
          currency: 'CAD'
        });
  
        fbq('track', 'AddToCart', {
          value: 19.99,
          currency: 'CAD'
        });
  
        fbq('track', 'Purchase', {
          value: 19.99,
          currency: 'CAD'
        });
      </script>

<!--Nav bar-->
<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <div class="d-flex w-50 order-0">
      <a class="navbar-brand mr-1" href="/">
        <img src="/img/storepic.png" width="150" height="100" alt="" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse justify-content-center order-2"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mr-auto activeNav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-dark" href="/store">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <span
      class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last"
    ></span>
  </nav>

<div class="uk-container uk-padding-small">
  <div class="uk-child-width-1-2@m" uk-grid>
    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-left">
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="/img/temp1.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body uk-animation-slide-right">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h5 class="uk-card-title">Rootcase for iPhone X/XS</h5>
            <h6><strong>$19.99 CAD</strong></h3>
            <p>
              Available for iPhone X/XS, Rootcase is an eco-friendly alternative to 
              traditional plastic phone cases. 100% BPA-free and biodegradable, by 
              purchasing Rootcase you’re also supporting a plastic-free future for 
              the planet. Order today and get free shipping on all orders.
            </p>
            <p>
              The soft and easy to grip texture of Rootcase offers a secure and 
              comfortable feel in your hand. Due to the natural shock-absorbing 
              properties of wheat fibre, Rootcase also offers great protection from 
              drops and scratches.
            </p>
            <form action="/charge" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="<%= stripePublishableKey %>"
                data-amount="1999"
                data-name="iPhone X/Xs BioCase"
                data-description="A biodegradeable phone case"
                data-image="/img/marketplace.png"
                data-locale="auto"
                data-currency="cad"
                data-shippingAddress="true"
                data-billingAddress="true"
                data-zip-code="true"
              ></script>
              <script>
                // Hide default stripe button
                document.getElementsByClassName(
                  'stripe-button-el'
                )[0].style.display = 'none';
              </script>
              <button type="submit" class="btn btn-outline-primary btn-lg" disabled>
                SOLD OUT
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
    <h3 class="uk-padding-small">Images of the Product:</h3>
    <div uk-slideshow="animation: push">
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        <ul class="uk-slideshow-items">
          <li> 
              <img src="/img/case3.jpg" alt="" uk-cover />
          </li>
          <li>
            <img src="/img/case1.jpg" alt="" uk-cover />
          </li>
          <li>
            <img src="/img/case2.jpg" alt="" uk-cover />
          </li>
          <li>
              <img src="/img/case4.jpg" alt="" uk-cover />
            </li>

            <li>
                <img src="/img/case5.jpg" alt="" uk-cover />
              </li>
        </ul>
  
        <a
          class="uk-position-center-left uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-previous
          uk-slideshow-item="previous"
        ></a>
        <a
          class="uk-position-center-right uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-next
          uk-slideshow-item="next"
        ></a>
      </div>
  
      <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>


<% include templates/footer.ejs %>


</body>
</html>