     
<!--Nav bar-->
<% include templates/header.ejs %>

<div class="uk-container">
  <div class="uk-child-width-1-2@m" uk-grid>
    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-left">
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="/img/biocase.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body uk-animation-slide-right">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h5 class="uk-card-title">Rootcase for iPhone X/XS - Coral Sand</h5>
            <h6><strong>$19.99 CAD</strong></h3>
            <p>
              Available for iPhone X/XS, Rootcase is an eco-friendly alternative to 
              traditional plastic phone cases. 100% BPA-free and biodegradable, by 
              purchasing Rootcase you’re also supporting a plastic-free future for 
              the planet. Order today and get free shipping on all orders.
            </p>
            <p>
              The soft and easy to grip texture of Rootcase offers a secure and 
              comfortable feel in your hand. Due to the natural shock-absorbing 
              properties of wheat fibre, Rootcase also offers great protection from 
              drops and scratches.
            </p>
            <form action="/charge" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="<%= stripePublishableKey %>"
                data-amount="1999"
                data-name="iPhone X/Xs BioCase"
                data-description="A biodegradeable phone case"
                data-image="/img/marketplace.png"
                data-locale="auto"
                data-currency="cad"
                data-shippingAddress="true"
                data-billingAddress="true"
                data-zip-code="true"
              ></script>
              <script>
                // Hide default stripe button
                document.getElementsByClassName(
                  'stripe-button-el'
                )[0].style.display = 'none';
              </script>
              <button type="submit" class="btn btn-outline-primary btn-lg">
                Purchase For $19.99 CAD
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% include templates/footer.ejs %>


