#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#one-page {
    position: fixed !important;
}

.container {
    padding-bottom: 100px !important;
} 

.contact-send, .contact-error, .success {
    padding-bottom: 350px !important;
}