#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#one-page {
    position: fixed !important;
}

.container {
    padding-bottom: 100px !important;
} 

.onePager {
    padding-bottom: 410px !important;
}

.one-pager {
    padding-bottom: 300px !important;
}

.no-css {
    padding-bottom: 10px !important;
}