<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <!--Footer-->
    <div id="footer one-page" class="text-center bg-light">
        <p class="footText">
            <h5><b>RootCase</b></h5>
            Junior Achievement CIBC
            <br>101 College Street, Toronto, ON, M5G 1L7
        </p>

        <div class="d-flex justify-content-between">
            <div class="p-1"></div>
            <div class="p-1">
                <a href="https://www.instagram.com/root.case/" class="center-block fa fa-instagram"></a>
                <a href="/contact" class="center-block fa fa-rss"></a>
                <a href="https://www.gofundme.com/root-case?member=1587060" class="center-block fa fa-google"></a>
            </div>
            <div class="p-1"></div>
        </div>
        <div class="container no-css">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/terms" class="center-block no-dec"><p>Terms and Conditions</p></a>
                </div>
                <div class="col">
                    <a href="/policy" class="center-block no-dec"><p>Policy and Returns</p></a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"
        ></script>
</body>
</html>