<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css"
    />

    <!--Bootstrap-->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/template.css" />
    <link rel="shortcut icon" href="/img/icon.png" type="image/png" />

    <!-- Add icon library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!--reCaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Facebook Pixel Code -->
    <script>
      !(function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        'script',
        'https://connect.facebook.net/en_US/fbevents.js'
      );
      fbq('init', '497944787400192');
      fbq('track', 'PageView');
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=497944787400192&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <title><%= title %></title>
  </head>
  <body>
    <script>
      fbq('track', 'ViewContent', {
        value: 19.99,
        currency: 'CAD'
      });
    </script>

    <div id="topheader">
      <nav class="navbar navbar-light navbar-expand-md bg-light">
        <div class="d-flex w-50 order-0">
          <a class="navbar-brand mr-1" href="/">
            <img src="/img/storepic.png" width="150" height="100" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div
          class="collapse navbar-collapse justify-content-center order-2"
          id="navbarNavDropdown"
        >
          <ul id="activeNav" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/store">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/contact">Contact</a>
            </li>
          </ul>
        </div>

        <span
          class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last"
        ></span>
      </nav>
    </div>

    <script src="../../js/index.js"></script>
  </body>
</html>
