#logo {
    width: 15%;
    height: 20%;
}

.background  {
    background: url('img/phones.png') no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 50% 70%;
}

.jumbotron {
    height: 500px;
}

#header-spacing {
    margin-top: 100px;
}

.jumboText {
    margin-top: 50px;
    margin-left: 100px;
}

#info1 {
    padding-left: 100px;
    padding-bottom: 50px;
}

#info2 {
    padding-right: 100px;
    padding-bottom: 50px;
}

.paragraph {
    margin-top: 10px;
    font-size: 18px;
    color: #a1a2a3;
}

#para1 {
    margin-right: 100px;
}

#rightImg {
    margin-right: 100px;
}

#leftImg {
    margin-left: 100px;
}

.picture {
    width: 50%;
    height: 50%;
}

.card {
    border: none;
}

.fixed-top.scrolled {
    background-color: #e0dede !important;
    transition: background-color 200ms linear;
}

.footText {
    padding-top: 10px;
}

#social-media {
    padding-bottom: 20px;
}

#pic {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#pic2 {
    width: 40px;
    height: 35px;
    margin-right: 5px;
}

#social-media {
    padding-left: 650px;
}

#contact {
    margin-bottom: 50px;
}

.hideElement {
    opacity: 0;
}

.fade {
    opacity: 0;
}

.fade-right {
    opacity: 0;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}